In [41]:
import pandas as pd

# Converting date format to string format

In [38]:
df = pd.DataFrame({'dates':['jan 26,1947@12:24:45.123', 'feb 14,2017@12:34:45.123', 'feb 3,2020@08:45:56.234']})

In [39]:
df['dates'] = pd.to_datetime(df['dates'], format = '%b %d,%Y@%H:%M:%S.%f').dt.date

In [40]:
df

        dates
0  1947-01-26
1  2017-02-14
2  2020-02-03